html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#logo {
    height: 40px;
    width: 40px;
    padding-top: 5px;
    float:left;
    border-radius: 8px;
}

nav {
    width: 100%;
    height: 50px;
    background-color: #55acee;
}

nav:nth-child(1) {
    padding-left: 25px;
}

.navlink {
    padding: 5px;
    padding-top: 12px;
    padding-left: 20px;
    color: white;
    font-size: 1.3em;
    float: left;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    background-color: #55acee;
    transition: background-color 0.4s ease;
}

.navlink a:hover {
    transition: background-color 0.8s ease;
    background-color: #66bdff;
}

.domoForm {
    border: 2px solid #338acc;
    height: 35px;
    width: 900px;
    margin-top:0px;
    padding-top:10px;
    background-color: #55acee;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.domoForm label {
    display: inline-block;
    width: 75px;
    margin-left: 10px;
    font-size: 1.2em;
    color: white;
}

.makeDomoSubmit {
    transition: background-color 0.4s ease;
    display: inline;
    width: 90px;
    background-color: #55acee;
    border-radius: 2px;
    color: white;
    text-decoration: none;
}

.makeDomoSubmit:hover {
    background-color: #338acc;
}

.mainForm {
    height: 300px;
    width: 350px;
    margin: 0 auto;
    padding-top: 350px;
    font-size: 1.2em;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: 200px;
    background-color: #55acee;
    border-radius: 2px;
    border-color: #66acee;
    padding: 3px 0px;
    color: white;
}

.formSubmit:hover {
    background-color: #338acc;
}

#user, #pass, #pass2 {
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    border-radius: 6px;
}

#user:focus, #pass:focus, #pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #55acee;
}

.hidden {
    display: none;
}

#domoMessage {
    top: 250px;
    width: 250px;
    height: 650px;
    position: absolute;
    z-index: 200;
    right: 0px;
    overflow: hidden;
}

#domoMessage h3 {
    width: 200px;
    position: absolute;
    top: 0px;
    left: 20px;
}

#speech {
    height: 120px;
    width: 250px;
    z-index:300;
}

#errorMessage {
    font-size: 1.2em;
    font-weight: bold;
    color: red;
    font-style: italic;
}

#domo {
    z-index: 225;
    margin-top: -20px;
    margin-left: 135px;
    height: 450px;
    width: 300px;
    transform: rotate(330deg);
}

#domos {
    width: 40%;
    min-width: 400px;
    border: 2px solid #55acee;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 100px;
    padding-bottom: 200px;
    position: relative;
}

/* ----------- DRAGGABLE DOMO FIXES BELOW ----------- */

.domoList {
    position: relative;    
    min-height: 300px;
}

.domo {
    position: absolute;     
    cursor: grab;
    width: 90%;
    left: 5%;               /* center them initially */
    border: 2px solid #55acee;
    border-radius: 4px;
    background-color: #55acee;
    padding: 10px;
    min-height: 60px;
    transition: border-color 0.2s ease-out, background-color 0.2s ease-out;
}

.domo:hover {
    border-color: rgba(255,255,255, 0.8);
    background-color: #66bfff;
}

img.domoFace {
    margin-left: 25px;
    margin-right: 10px;
    height: 50px;
    width: 50px;
    border-radius: 4px;
    margin-top:10px;
    float:left;
}

h3.emptyDomo {
    width: 400px;
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;
    margin-top: 18px;
}

h3.domoName {
    width: 200px;
    font-weight: bold;
    padding-left: 65px;
    font-size: 1.5em;
}

h3.domoAge {
    text-align: left;
    width: 100px;
    font-weight: bold;
    padding-right: 40px;
    font-size: 1.5em;
}

h3.domoHeight {
    text-align: left;
    width: 100px;
    font-weight: bold;
    padding-right: 40px;
    font-size: 1.5em;
}
